* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html,#root {
  width: 100%;
  background-color: black;
  font-family: "Poppins", sans-serif;
}

main {
  position: relative;
}

section {
  height: 100vh;
  z-index: 2;
  border: 1px solid white;
  position: relative;
}